@font-face {
  font-family: 'MuseoModerno';
  src : url('https://fonts.googleapis.com')
}

body {
  font-family:'MuseoModerno', cursive;
  color: #343D46;
  scrollbar-width: none;

}

* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;}

main{
  margin: 0 auto;
}
 
section {
  float: left;
  align-items: center;
}

h1{
  margin:10px 0px 200px 10px;
  background-color:#DBDDEC ;
  width: 20%;
  position: relative;
  animation-name: animation;
  animation-duration: 6s;
}

 @keyframes animation {
  0%   {background-color: #D5937D; left:0px; top:0px;}
  25%  {background-color: #509694; left:20%; top:0px;}
  50%  {background-color: #DDA834; left:20%; top:200px;}
  75%  {background-color: #185F71; left:0px; top:200px;}
  100% {background-color: #D3D3D1; left:0px; top:0px;}

}

h2{
  margin: 10px;
  background-color: #9CB9DB ;
}


ul{
list-style-type: none;
}


#grid-floats li {
float: left;
}

 li {
  width: 20%;
  min-height:450px;
  margin: 20px;
  padding: 20px;
  }

  li:hover{
    border: 1px solid #4F5B66;
    box-shadow:10px 10px 10px #C0C5CE;
  }

 li img {
  max-width: 150px;
  height: auto;
}

#grid-flex  {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;}

#grid-floats .grid-item:nth-child(-n+2) {
 width:40%;  
 }

#grid-flex .grid-item:nth-child(-n+2) {
flex-basis : 40%;
}

@media only screen and (max-width: 600px) {
  #grid-floats li {
    width: 100%;
    display: block;
  }
  #grid-floats .grid-item:nth-child(-n+2) {
    width:100%;  
  }

  #grid-flex li {
    flex-basis: 100%;
  } 
  #grid-flex .grid-item:nth-child(-n+2) {
    flex-basis : 100%;
  } 
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
  #grid-floats li {
    width: 25%;
    height: 650px;
  }

  #grid-flex li {
  flex-grow: 1;
  } 
  #grid-flex .grid-item:nth-child(-n+2) {
  flex-grow: 1.5;} 

} 
